@model List<ResultCommentDto>

<h3 class="mb-5">@ViewBag.CommentCount Yorumlar</h3>
<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="/carbook/images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyy"))</div>
                <p>@item.Description</p>
            </div>
        </li>
    }
</ul>
<!-- END comment-list -->