@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Özellik Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalarla ilgili yeni özellik ekleme (Klima, Bluetooth, Audio, Elektrik vs.) özellikler listesi, 
                            özellikler üzerinde düzenleme ve bir özelliği kaldırma işlemini buradan gerçekletirebilirsin.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Özellik</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td><a href="/Admin/AdminFeature/RemoveFeature/@item.FeatureID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminFeature/UpdateFeature/@item.FeatureID" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminFeature/CreateFeature/" class="btn btn-outline-primary">Yeni Araç Özellik Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

