@model CreatePricingDto

@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Ödeme Periyodu Girişi</h4>
                    <p class="card-subtitle mb-4">
                        Ödeme periyodu alanına veri girşini aşağıdan yapabilirsiniz. Sadece 1 tane Pricing verisi kalmalıdır.
                    </p>
                    <form method="post">

                        <div class="form-group">
                            <label for="exampleInputTitle">Ödeme Periyod Başlığı</label>
                            <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Ödeme Periyod Adını Giriniz..">
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Ödeme Periyot Bilgisini Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

