@model CreateAuthorDto

@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Yazar Bilgisi Girişi</h4>
                    <p class="card-subtitle mb-4">
                        Yazar alanına veri girşini aşağıdan yapabilirsiniz.
                    </p>
                    <form method="post">

                        <div class="form-group">
                            <label for="exampleInputTitle">Başlık</label>
                            <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Başlık Girişi Yapınız..">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputDescription">Açıklama</label>
                            <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama Girişi Yapınız..">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputImageUrl">Video Açıklama</label>
                            <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl" placeholder="Video Açıklama Girişi Yapınız..">
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Yazar Bilgisini Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>