@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentsPartial")

<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentsPartial")

    @await Component.InvokeAsync("_DefaultCoverUILayoutComponentsPartial")

    @await Component.InvokeAsync("_RentACarFilterComponentPartial")

    @await Component.InvokeAsync("_DefaultLastFiveCarsWithBrandsComponentPartial")

    @await Component.InvokeAsync("_AboutUsComponentPartial")

    @await Component.InvokeAsync("_ServiceComponentPartial")

    @await Component.InvokeAsync("_BecomeADriverComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_GetLastThreeBlogsWithAuthorListComponentPartial")

    @await Component.InvokeAsync("_DefaultStatisticComponentPartial")

    @await Component.InvokeAsync("_FooterUILayoutComponentsPartial")

    @await Component.InvokeAsync("_ScriptsUILayoutComponentsPartial")

</body>
</html>

