@model CreateBrandDto

@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Araç Özelliği Girişi</h4>
                    <p class="card-subtitle mb-4">
                        MArka ile ilgili özellikleri aşağıdaki kutucuğa girebilirsiniz.
                    </p>
                    <form method="post">

                        <div class="form-group">
                            <label for="exampleInputBrand">Marka Adı</label>
                            <input type="text" class="form-control" id="exampleInputBrand" asp-for="Name" placeholder="MArka Girişi Yapınız..">
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Marka Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

