@using X.PagedList;
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;

@model IPagedList<ResultBrandDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Markaları Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Araba markası isimleri eklemek, mevcut isimleri düzenlemek ve belirli bir ismi kaldırmak için buradan işlem yapabilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Markaya Ait Araçlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td><a href="/Admin/AdminBrand/RemoveBrand/@item.BrandID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminBrand/UpdateBrand/@item.BrandID" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/AdminBrand/UpdateBrand/@item.BrandID" class="btn btn-outline-dark">Markaya Ait Araçlar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Yeni Marka Girişi</a>
                            <div class="d-flex justify-content-center">
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new{page}),
                                new PagedListRenderOptionsBase{LiElementClasses = new string[] { "page-item" },PageClasses = new string[] { "page-link" },Display = PagedListDisplayMode.IfNeeded})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



