<div class="menu-overlay"></div>

<script src="~/admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/admin/vertical/assets/js/waves.js"></script>
<script src="~/admin/vertical/assets/js/simplebar.min.js"></script>
<script src="~/admin/vertical/assets/js/theme.js"></script>