<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @DateTime.Now.Year © CarBook | Tüm Hakları Sakldırı 
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Design & Develop by İbrahim Gültekin
                </div>
            </div>
        </div>
    </div>
</footer>