@model ResultBlogByIdDto

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>

    @await Component.InvokeAsync("_BlogDetailCloudTagByBlogComponentPartial", new {id = ViewBag.BlogID})

    @await Component.InvokeAsync("_BlogDetailAuthorAboutComponentPartial")

    <div class="pt-5 mt-5">

        @await Component.InvokeAsync("_CommentListByBlogComponentPartial")

        @await Component.InvokeAsync("_AddCommentComponentPartial")

    </div>
</div> 