@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-car-details">
    <div class="container">
        @await Component.InvokeAsync("_CarDetailMainCarFutureComponentPartial" , new{id=ViewBag.CarID})
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">

                    @await Component.InvokeAsync("_CarDetailTabPaneComponentPartial")

                    <div class="tab-content" id="pills-tabContent">
                        @await Component.InvokeAsync("_CarDetailCarFeatureByCarIdComponentPartial", new{id=ViewBag.CarID})

                        @await Component.InvokeAsync("_CarDetailDescriptionComponentPartial", new{id=ViewBag.CarID})

                        @await Component.InvokeAsync("_CarDetailCommentsByCarIdComponentPartial", new{id=ViewBag.CarID})
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>