@model CreateServiceDto

@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hizmet Sayfası Veri Girişi</h4>
                    <p class="card-subtitle mb-4">
                        ana sayfa ve hizmetler bölümünde yer alan hizmet listesinin admin tarafındaki işlemlerini aşağıdaki sayfadan gerçekleştirebilirsiniz.
                        Teme bütünlüğünü korumak adına 4 tane hizmet girişi yapınız.
                    </p>
                    <form method="post">

                        <div class="form-group">
                            <label for="exampleInputTitle">Hizmet Başlığı</label>
                            <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Hizmet Başlığı Girişi Yapınız..">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputDescription">Açıklama</label>
                            <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Hizmet Açıklama Girişi Yapınız..">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputIconUrl">Icon URL</label>
                            <input type="text" class="form-control" id="exampleInputIconUrl" asp-for="IconUrl" placeholder="Icon URL Girişi Yapınız..">
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Yazar Bilgisini Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

