@model CreateSocialMediaDto

@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sosyal Medya Girişi</h4>
                    <p class="card-subtitle mb-4">
                        Sosyal Medya alanına veri girşini aşağıdan yapabilirsiniz.
                    </p>
                    <form method="post">

                        <div class="form-group">
                            <label for="exampleInputName">Sosyal Medya</label>
                            <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Sosyal Medya Girişi Yapınız..">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUrl">URL</label>
                            <input type="text" class="form-control" id="exampleInputUrl" asp-for="Url" placeholder="URL Girişi Yapınız..">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputIcon">İkon</label>
                            <input type="text" class="form-control" id="exampleInputIcon" asp-for="Icon" placeholder="İkon Girişi Yapınız..">
                        </div>

                        <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya Bilgisini Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

