@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Yeni Araç Girişi</h4>
                    <p class="card-subtitle mb-4">Yeni araçları sisteme eklemenin basit yolu! Marka, model, vites tipi ve kilometre 
                        bilgilerini girdikten sonra bilgileri kaydedin. Hızlı ve verimli araç yönetimi için hemen kullanmaya başlayın!</p>

                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkmeout0">
                                <label class="custom-control-label" for="checkmeout0">Check me out !</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


