@model ResultCreateCarDto

@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Araç Girişi</h4>
                    <p class="card-subtitle mb-4">Yeni araçları sisteme eklemenin basit yolu! Marka, model, vites tipi ve kilometre 
                        bilgilerini girdikten sonra bilgileri kaydedin.</p>

                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputBrand1">Marka</label>
                            @Html.DropDownListFor(x =>x.BrandID,(List<SelectListItem>)ViewBag.Brand,new {@class="form-control"})
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Model</label>
                            <input type="text" class="form-control" id="exampleInputModel" asp-for="Model" placeholder="Model Girişi Yapınız..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputCoverImageUrl">Kapak Fotoğrafı</label>
                            <input type="text" class="form-control" id="exampleInputCoverImageUrl" asp-for="CoverImageUrl" placeholder="Görsel Linki Giriniz..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputKm">Km</label>
                            <input type="text" class="form-control" id="exampleInputKm" asp-for="Km" placeholder="KM Bilgisi Giriniz..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputTransmission">Vites Türü</label>
                            <input type="text" class="form-control" id="exampleInputTransmission" asp-for="Transmission" placeholder="Vites Bilgisi Giriniz..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSeat">Koltuk Sayısı</label>
                            <input type="number" class="form-control" id="exampleInputSeat" asp-for="Seat" placeholder="Koltuk Sayısını Seçiniz..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputLuggage">Bagaj Kapasitesi</label>
                            <input type="number" class="form-control" id="exampleInputLuggage" asp-for="Luggage" placeholder="Bagaj Kapasitesini Seçiniz..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFuel">Yakıt Türü</label>
                            <input type="text" class="form-control" id="exampleInputFuel" asp-for="Fuel" placeholder="Yakıt Bilgisi Giriniz..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputBıgImageUrl">Büyük Kapak Fotoğrafı</label>
                            <input type="text" class="form-control" id="exampleInputBıgImageUrl" asp-for="BıgImageUrl" placeholder="Araç Detayında Gözükecek Fotoğraf Linki..">
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Araç Kaydet</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


